Source: kubsh
Section: utils
Priority: optional
Maintainer: Your Name <you@example.com>
Build-Depends: debhelper (>= 11), cmake, g++, make
Standards-Version: 4.1.4
Homepage: https://github.com/yourname/kubsh

Package: kubsh
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Educational shell "kubsh"
 This is a simple educational shell with VFS support for user folders.
